<html>

<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body class="pbody">
  <div>
    <nav class="navbar fixed-top navbar-expand navbar-light" style="background-color:#b52b79;padding: 10px;">
      <h2 style="padding-left: 20px; color: #f857a8; margin: 0px;">Welcome {{user.username}}</h2>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse right" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active" style="font-size: x-large; margin-right: 20px;">
            <a class="nav-link button" href="{{ url_for('search',uid=user.id) }}">Search</a>
          </li>
          <li class="nav-item" style="font-size: x-large; margin-right: 20px;">
            <a class="nav-link" href="{{ url_for('feed',uid=user.id) }}">My Feed</a>
          </li>
          <li class="nav-item" style="padding-right: 30px; font-size: x-large;">
            <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <div style="margin-top:90px; padding-bottom: 0px;" class="post">
    <div class="post-header">
      <img style="object-fit: cover;"class="avatar" src="{{ url_for('static', filename='uploads/'+post.user.name) }}">
      {% if user.id == post.user.id  %}
        <div><a class="username"href="{{ url_for('profile',uid=user.id ) }}">{{ post.user.username }}</a></div>
        {% else %}
        <div><a class="username" href="{{ url_for('otherprofile',uid=user.id,fid=post.user.id ) }}">{{ post.user.username }}</a></div>
      {% endif %}
      
    </div>
    <div class="post-image" style="background-image: url(/static/uploads/{{post.name}})"></div>
    <div class="head">
            {% if user.id in post.likes|map(attribute="uid")|list %}
              <div id="heart" class="likes" style="position: absolute; left: 450px;">
                <a style="display: inline-block;" href="{{ url_for('like',uid=user.id,pid=post.id,s=0 ) }}"><i style="font-size:30px"
                    class="fa fa-heart" aria-hidden="true"></i></a>
                <a style="color:red"href="{{ url_for('dlike',uid=user.id,pid=post.id) }}"><text style="font-size: 30; font-weight: bold;">{{
                    post.likes|length }}</text></a>
              </div>
            {% else %}
              <div id="heart" class="likes" style="position: absolute; left: 450px;">
                <a style="display: inline-block;" href="{{ url_for('like',uid=user.id,pid=post.id,s=0 ) }}"><i style="font-size:30px"
                    class="fa fa-heart-o" aria-hidden="true"></i></a>
                <a style="color:red;"href="{{ url_for('dlike',uid=user.id,pid=post.id) }}"><text style="font-size: 30; font-weight: bold;">{{ post.likes|length }}</text></a>
              </div>
            {% endif %}
      <h3>{{ post.title }}</h3>
    </div>
    <div class="caption">{{ post.caption }}</div>
    <hr style="width:550px; border-top: 5px solid #b12775; margin:10px;border-radius: 2px;">
    <form method="POST" class="comment-input" style="margin-bottom:10px;margin-top: 0px;">
      <textarea name="comment" maxlength="100" placeholder="Add a comment..."></textarea>
      <button class="b">Comment</button> 
    </form>
    {% if f %}
      <h6 style="color: red; font-weight: bold ;">Fill the comment box!</h6>
    {% endif %}
    <div class="comments">
      {% for comment in post.comments %}
          <div class="comment">
            <img class="comment-avatar" src="{{ url_for('static', filename='uploads/'+comment.user.name) }}">
            <div class="comment-username">{{ comment.user.username }}</div>
            <div class="comment-text">{{ comment.text }}</div>
            {% if comment.uid == user.id or post.user.id == user.id%}
              <a style="margin-left:10px;margin-top: 10px;" href="{{ url_for('delcomment',uid=user.id,cid=comment.id) }}"><img style=" width: 30px; height:30px; cursor: pointer;" src="{{ url_for('static', filename='images/delete.png') }}" alt="Error"></a>
            {% endif %}
          </div>
      {% endfor %}
    </div>
  </div>
</body>